:root {
  /* COLORS */
  --primary-text-color: ;
  --muted-text-color: ;

  --body-background-color: ;
  --main-background-color: ;
  --footer-background-color: ;

  --status-active-color: ;
  --status-away-color: ;
  --status-offline-color: ;

  /* SPACING */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

img {
  display: block;
  width: 20px;
  height: 20px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* BODY */

body {
  height: 100vh;
  overflow: hidden;
  padding-top: 10px;
  background-color: rgb(20 19 24);
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: row;
  height: calc(100vh, 120px);
}

.side-bar {
  display: flex;
  flex-direction: column;
  padding: 12px;
  overflow-y: auto;
  flex-shrink: 0;
}

.side-bar > img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-top: 6px;
  margin-bottom: 6px;
}

.side-bar > img:first-of-type {
  border-radius: 15px;
  margin-top: 20px;
}

header {
  color: white;
  font-size: 9pt;
  margin: 15px;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12pt;
}

.tools > div {
  display: flex;
  background-color: rgb(56 58 67);
  border-radius: 15px;
  height: 35px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.tools > div:first-of-type {
  width: 35px;
  margin-right: 15px;
}
.tools > div:last-of-type {
  width: 100%;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  color: grey;
  background-color: rgb(28 29 34);
  border-top-left-radius: 25px;
  padding: 10px;
  flex-grow: 1;
}

.chats {
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.card > div {
  display: flex;
  flex-direction: row;
}

.card > div > div {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.card > div > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* FOOTER */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(45 45 54);
  padding: 20px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  flex-basis: 0;
}

.button > span {
  font-size: 10px;
}
