* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: row;
}

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: rgb(20 19 24);
}

header {
  color: white;
}

.tools {
  display: flex;
  flex-direction: row;
}

.tools > div {
  background-color: rgb(56 58 67);
}

main {
  display: flex;
  flex-direction: column;
  color: grey;
  background-color: rgb(28 29 34);
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card > div {
  display: flex;
  flex-direction: column;
}

/* FOOTER */
.nav-bar {
  display: flex;
  flex-direction: row;
  background-color: rgb(45 45 54);
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

img {
  width: 20px;
  height: 20px;
}
