* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: row;
  background-color: rgb(20 19 24);
}

.side-bar {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.side-bar > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.side-bar > img:first-of-type {
  border-radius: 15px;
  margin-top: 20px;
}

header {
  color: white;
}

.tools {
  display: flex;
  flex-direction: row;
}

.tools > div {
  background-color: rgb(56 58 67);
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  color: grey;
  background-color: rgb(28 29 34);
  border-top-left-radius: 25px;
  padding: 10px;
  margin-top: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.card > div {
  display: flex;
  flex-direction: column;
}
.card > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* FOOTER */
.nav-bar {
  display: flex;
  flex-direction: row;
  background-color: rgb(45 45 54);
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

img {
  width: 20px;
  height: 20px;
}
